<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Avoid regrets! <small>Make informed decisions about which place to rent</small></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 panel">
      <form action="/search" autocomplete="off" class="form-inline panel-body" method="get" name="search" accept-charset="utf-8">
        <div class="form-group">
          <label class="sr-only" for="location">Location</label>
          <input type="text" class="form-control" name="location" id="location" placeholder="Location">
        </div>
        <div class="form-group">
          <label class="sr-only" for="property-type">Property Type</label>
          <select class="form-control" name="property_type" id="property-type">
            <option value="">Property type</option>
            <option value="apartment">Apartment</option>
            <option value="semi_detached">Semi-Detached</option>
            <option value="detached">Detached</option>
            <option value="hostel">Hostel</option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="bedrooms">Bedrooms</label>
          <select class="form-control" name="bedrooms" id="bedrooms">
            <option value="">Bedrooms</option>
            <option value="0">Any</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only" for="cost-min">Cost Min</label>
          <input type="number" class="form-control" name="cost_min" id="cost-min" placeholder="Cost Min">
          <label class="sr-only" for="cost-min">Cost Max</label>
          <input type="number" class="form-control" name="cost_max" id="cost-max" placeholder="Cost Max">
        </div>

        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <h4>Best neighbourhoods</h4>
    </div>
  </div>

  <div class="row">
    <% @listings.reverse.take(3).each do |listing| %>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">

          <%= link_to listing do %>
            <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
              <% end %>

                <div class="caption">
                  <p>
                    <%= "GHC #{listing.price}, #{listing.address}" %>
                  </p>
                </div>
        </div>
      </div>
      <% end %>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4>Affordable</h4>
    </div>
  </div>

  <div class="row">
    <% @listings.take(4).each do |listing| %>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">

          <%= link_to listing do %>
            <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
              <% end %>

                <div class="caption">
                  <p>
                    <%= "GHC #{listing.price}, #{listing.address}" %>
                  </p>
                </div>
        </div>
      </div>
      <% end %>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4>Bijou places</h4>
    </div>
  </div>

  <div class="row">
    <% @listings.take(2).each do |listing| %>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">

          <%= link_to listing do %>
            <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
              <% end %>

                <div class="caption">
                  <p>
                    <%= "GHC #{listing.price}, #{listing.address}" %>
                  </p>
                </div>
        </div>
      </div>
      <% end %>
  </div>
</div>


<script>
$(document).ready(function (){
    var searchMap = L.map('search-map').setView([5.6422718, -0.155063], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(searchMap);

});
</script>