<br><br><br>

<div class="container">
  <div class="col-sm-12" id="clone">
    <p class="tagline">
            <span>
            <b>
                Great homes and neighbourhoods start with Surreal. <br>
            </b>
            <small style="color: #616161;">
                Make informed decisions about which place to rent
            </small>
            </span>
    </p>
  </div>
</div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-12 panel">
      <form action="/search" autocomplete="off" class="form-inline panel-body" method="get" name="search" accept-charset="utf-8">
        <div class="form-group">
          <label class="sr-only" for="location">Location</label>
          <input type="text" class="form-control" name="location" id="location" placeholder="Location">
        </div>
        <div class="form-group">
          <label class="sr-only" for="property-type">Property Type</label>
          <select class="form-control" name="property_type" id="property-type">
            <option value="">Property type</option>
            <option value="apartment">Apartment</option>
            <option value="semi_detached">Semi-Detached</option>
            <option value="detached">Detached</option>
            <option value="hostel">Hostel</option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="bedrooms">Bedrooms</label>
          <select class="form-control" name="bedrooms" id="bedrooms">
            <option value="">Bedrooms</option>
            <option value="0">Any</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only" for="cost-min">Cost Min</label>
          <input type="number" class="form-control" name="cost_min" id="cost-min" placeholder="Cost Min">
          <label class="sr-only" for="cost-min">Cost Max</label>
          <input type="number" class="form-control" name="cost_max" id="cost-max" placeholder="Cost Max">
        </div>

        <button class="btn "  type="submit" ><strong>Search</strong></button>
        <br><br><br>
    </form>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <h4>Safe neighbourhoods</h4><br>
    </div>
  </div>

  <div class="row">
    <% @listings.reverse.take(3).each do |listing| %>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">

          <%= link_to listing do %>
            <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
          <% end %>

          <div class="caption">
            <p>
              <strong><%= "GHC #{listing.price} - 3bd" %>
                <span class="pull-right">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                             </span><br>
              </strong><%= "#{listing.address}" %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4>Featured Homes</h4><br>
    </div>
  </div>

  <div class="row">
    <% @listings.take(4).each do |listing| %>
      <div class="col-sm-3 col-md-3">
        <div class="thumbnail">

          <%= link_to listing do %>
            <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
          <% end %>

          <div class="caption">
            <p>
              <strong><%= "GHC #{listing.price} - 3bd" %>
                <span class="pull-right">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                             </span><br>
              </strong><%= "#{listing.address}" %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4>Best neighbourhoods</h4><br>
    </div>
  </div>

  <div class="row">
    <% @listings.take(2).each do |listing| %>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">

          <%= link_to listing do %>
            <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
          <% end %>

          <div class="caption">
            <p>
              <strong><%= "GHC #{listing.price} - 3bd" %>
                <span class="pull-right">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                             </span><br>
              </strong><%= "#{listing.address}" %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>