<%= render 'layouts/searchpage_header' %>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form action="/search" autocomplete="off" class="navbar-form navbar-left" method="get" name="search" accept-charset="utf-8">
        <div class="form-group">
          <label class="sr-only" for="location">Location</label>
          <input type="text" class="form-control" name="location" id="location" placeholder="Location">
        </div>

        <div class="form-group">
          <label class="sr-only" for="cost-min">Cost Min</label>
          <input type="number" class="form-control" name="cost_min" id="cost-min" placeholder="Cost Min">
          <label class="sr-only" for="cost-min">Cost Max</label>
          <input type="number" class="form-control" name="cost_max" id="cost-max" placeholder="Cost Max">
        </div>

        <div class="form-group">
          <label class="sr-only" for="bedrooms">Bedrooms</label>
          <select class="form-control" name="bedrooms" id="bedrooms">
            <option value="">Bedrooms</option>
            <option value="0">Any</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only" for="home-type">Home type</label>
          <select class="form-control" name="home_type" id="home-type">
            <option value="">Home type</option>
            <option value="apartment">Apartment</option>
            <option value="semi_detached">Semi-Detached</option>
            <option value="hostel">Hostel</option>
            <option value="house">House</option>
            <option value="condo">Condo</option>
            <option value="townhome">Townhome</option>
            <option value="multi_family">Multi-Family</option>
            <option value="land">Land</option>
            <option value="mobile_or_manufactured">Mobile/Manufactured</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only" for="listing-type">Listing Type</label>
          <select class="form-control" name="listing_type" id="listing-type">
            <option value="for_sale">For Rent</option>
            <option value="for_rent">For Sale</option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only" for="keywords">Keywords</label>
          <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Pool, parking, cctv">
        </div>

        <div class="form-group">
          <label class="sr-only" for="lot-size-min">Min lot size</label>
          <input type="number" class="form-control" name="lot_size_min" id="lot-size-min" placeholder="Min lot size">
          <label class="sr-only" for="lot-size-min">Max lot size</label>
          <input type="number" class="form-control" name="lot_size_max" id="lot-size-max" placeholder="Max lot size">
        </div>

        <div class="form-group">
          <label class="sr-only" for="min-yr-built">Min year built</label>
          <input type="number" class="form-control" name="min_yr_built" id="min-yr-built" placeholder="Min year built">
          <label class="sr-only" for="max-yr-built">Max year built</label>
          <input type="number" class="form-control" name="max_yr_built" id="max-yr-built" placeholder="Max year built">
        </div>

        <button type="submit" class="btn btn-default">Search</button>
        <button type="button" class="btn btn-link">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Save this search
        </button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          Showing
          <span class="text-primary"><%= @listings.count(:all) %> results</span> for
          <%= params[:location] %>
            <%= @east_bounds %>
              <%= @west_bounds %>
                <br>
                <br>
        </div>

        <% @listings.reverse.each do |listing| %>
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">

              <%= link_to listing do %>
                <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
                  <% end %>

                    <div class="caption">
                      <p>
                        <%= "GHC #{listing.price}, #{listing.address}" %>
                      </p>
                    </div>
            </div>
          </div>
          <% end %>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>


    <div class="col-sm-5">
      <div id="search-map"></div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function () {

  <% if @listings.empty? %>
    var searchMap = L.map('search-map').setView(<%= @map_center %>, <%= @zoom %>);
  <% else %>
    var searchMap = L.map('search-map')
      .setView(<%= @map_center %>, getZoom(<%= @west_bounds %>, <%= @east_bounds %>, "#search-map"));

    <% @listings.each do |listing | %>
      L.marker([<%= listing.latitude %>, <%= listing.longitude %>]).addTo(searchMap)
        .bindPopup(`
            <%= link_to listing do %>
              <%= image_tag listing.photo_attachments.first.photo.url, class: "img-responsive" if !listing.photo_attachments.empty? %>
            <% end %>

            <div class="caption">
              <%= "GHC #{listing.price}, #{listing.listing_name}" %>
            </div>
          `);
    <% end %>
  <% end %>

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(searchMap);

  function getZoom(westBound, eastBound, mapId) {
    var GLOBE_WIDTH = 256; // a constant in Google's map projection
    var west = westBound;
    var east = eastBound;
    var angle = east - west;
    if (angle < 0) {
      angle += 360;
    }
    var pixelWidth = $(mapId).width();
    var zoom = Math.round(Math.log(pixelWidth * 360 / angle / GLOBE_WIDTH) / Math.LN2);
    return zoom;
  }
    
});

</script>