<%= render 'layouts/header' %>


<div class="container">
  <div class="row">

    <div class="col-md-4">
      <!--Column left-->
      <div class="panel noborder">

        <div class="panel-body">


          <!--List view of Home details-->
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Home Details for 332 Central Park E #5S</h4>
                <small>Updated 3 days ago</small><br>
              </div>
              <p class="mb-1">Description.</p>
              <small>One Bedroom Condo with Private Terrace on tree-lined Park Block. Separate dining area can be converted to second bedroom in elegant mint condition. A full service, pet friendly building with gym, laundry room, bike room, and parking. Conveniently located to Central Park, Whole Foods shopping and all transportation. Ask: $1,188,000 CC+RE TAX $1092 month.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Features of this property</h4>

              </div>


              <p>
              <ul class="list-unstyled">
                <li>
                  3rd Asoyi Ln, Accra, Ghana
                </li>
                <li><span>3</span>bedrooms</li>
                <li>Single-Family Home</li>
                <li>Built in <span>1984</span></li>
                <li>Compound size:<span>19089</span>sqft</li>
              </ul>
              </p>


            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Utilities</h4>
                <h5 class="mb-1">Water</h5>

              </div>
              <p class="mb-1">
              <ul class="list-unstyled">
                <li>
                  Available 24hrs a day
                </li>
                <li>Water reservoir: Available </li>
                <li>Water pump: </li>
                <li>Borehole: </li>
                <li>Compound size:<span>19089</span>sqft</li>
              </ul>
              </p>

            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Electricity</h5>

              </div>
              <p class="mb-1">
              <ul class="list-unstyled">
                <li>
                  Available 24hrs a day
                </li>
                <li>Backup generator: Available </li>
                <li>Payment: Pre-paid </li>

              </ul>
              </p>

            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Amenities </h4>

              </div>
              <p class="mb-1">
              <ul class="list-unstyled">
                <li>
                  Internet: Mtn -3G 500kbs
                </li>
                <li>Garbage Collection: 2 times/week </li>
                <li>Security: </li>

              </ul>
              </p>

            </a>

            <button type="submit" class="btn btn-primary">Request More Information</button>
          </div>

        </div>
      </div>
      <br>


      <!--Map View-->
      <div class="col-md-4">
        <!--Insert Map here-->
      </div>

    </div>


    <!--Column right Model/video/photo view-->
    <div class="col-md-8">

      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active">
            <a href="#maps" aria-controls="maps" role="tab" data-toggle="tab">Map</a></li>
          <% if !@listing.three_d_models.empty? %>
              <li role="presentation">
                <a href="#three_d_models" aria-controls="three_d_models" role="tab" data-toggle="tab">3D Models</a></li>
          <% end %>
          <% if !@listing.three_sixty_videos.empty? %>
              <li role="presentation">
                <a href="#three_sixty_videos" aria-controls="three_sixty_videos" role="tab" data-toggle="tab">360
                  Videos</a></li>
          <% end %>
          <% if !@listing.three_sixty_photos.empty? %>
              <li role="presentation">
                <a href="#three_sixty_photos" aria-controls="three_sixty_photos" role="tab" data-toggle="tab">360
                  Photos</a></li>
          <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="maps">
            <div class="thumbnail">
              <div id="detail-map"></div>
              <div class="caption">
                <p class="text-center">
                  <%= @listing.address %>
                </p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="three_d_models">
            <% if !@listing.three_d_models.empty? %>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <%= raw @listing.three_d_models.first.embed_link %>
                  </div>
                </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="three_sixty_videos">
            <% if !@listing.three_sixty_videos.empty? %>
                <div class="thumbnail">
                  <%= raw @listing.three_sixty_videos.first.embed_link %>
                  <div class="caption">
                    <p>
                    <ul class="list-inline">
                      <li>
                        <%= @listing.address %>
                      </li>
                      <li><span>3</span>bedrooms</li>
                      <li>Single-Family Home</li>
                      <li>Built in <span>1984</span></li>
                      <li>Compound size:<span>19089</span>sqft</li>
                    </ul>
                    </p>
                  </div>
                </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="three_sixty_photos">
            <% if !@listing.three_sixty_photos.empty? %>
                <div class="thumbnail">
                  <%= raw @listing.three_sixty_photos.first.embed_link %>
                </div>
            <% end %>
          </div>
        </div>

      </div>


      <br>

      <div class="row">
        <div class="col-md-12">
          <h4>Other listings in this area</h4>
        </div>
      </div>

      <div class="row">
        <% @listings.reverse.take(3).each do |listing| %>
            <div class="col-sm-4 col-md-4">
              <li class="thumbnail">

                <%= link_to listing do %>
                    <%= image_tag listing.photo_attachments.first.photo.url if !listing.photo_attachments.empty? %>
                <% end %>

                <div class="caption">
                  <p>
                    <%= "GHC #{listing.price}, #{listing.address}" %>
                  </p>
                </div>
              </li>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function () {
        var detailMap = L.map('detail-map').setView([<%= @listing.latitude %>, <%= @listing.longitude %>], 13);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(detailMap);

        L.marker([<%= @listing.latitude %>, <%= @listing.longitude %>]).addTo(detailMap)
            .bindPopup(`
          <%= link_to @listing do %>
            <%= image_tag @listing.photo_attachments.first.photo.url, class: "img-responsive" if !@listing.photo_attachments.empty? %>
          <% end %>

          <div class="caption">
            <%= "GHC #{@listing.price}, #{@listing.listing_name}" %>
          </div>
        `);
        // .openPopup();
    });
</script>