<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active">
        <a href="#three_d_models" aria-controls="three_d_models" role="tab" data-toggle="tab">Interior View</a>
      </li>
      <li role="presentation">
        <a href="#street_view" aria-controls="street_view" role="tab" data-toggle="tab" id="street_view_tab">Street
          View</a>
      </li>
      <li role="presentation">
        <a href="#maps" aria-controls="maps" role="tab" data-toggle="tab" id="map-tab">Map</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="three_d_models">
        <div class="panel panel-default">
          <div class="panel-body">
            <iframe width="480" height="480px" bgcolor="#000000"
                    src="<%= @listing.three_d_model %>"
                    frameborder="0" allowvr allowfullscreen mozallowfullscreen="true"
                    webkitallowfullscreen="true" onmousewheel=""></iframe>
            <br/>
            <a title="<%= @listing.listing_name %>" href="#">
              <%= @listing.listing_name %>
            </a>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="street_view">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="street-view-container"></div>
            <br/>
            <a title="<%= @listing.listing_name %>" href="#">
              <%= @listing.listing_name %>
            </a>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="maps">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="detail-map"></div>
            <br/>
            <a title="<%= @listing.listing_name %>" href="#">
              <%= @listing.listing_name %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>