<p id="notice"><%= notice %></p>

<p>
  <strong>Listing name:</strong>
  <%= @sale_listing.listing_name %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @sale_listing.price_cents %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @sale_listing.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sale_listing.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sale_listing.address %>
</p>

<p>
  <strong>String:</strong>
  <%= @sale_listing.string %>
</p>

<p>
  <strong>City:</strong>
  <%= @sale_listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale_listing.state %>
</p>

<p>
  <strong>State code:</strong>
  <%= @sale_listing.state_code %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @sale_listing.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sale_listing.country %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @sale_listing.country_code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sale_listing.category %>
</p>

<p>
  <strong>Num bedrooms:</strong>
  <%= @sale_listing.num_bedrooms %>
</p>

<p>
  <strong>Num bathrooms:</strong>
  <%= @sale_listing.num_bathrooms %>
</p>

<p>
  <strong>Floor area:</strong>
  <%= @sale_listing.floor_area %>
</p>

<p>
  <strong>Lot size:</strong>
  <%= @sale_listing.lot_size %>
</p>

<p>
  <strong>Build date:</strong>
  <%= @sale_listing.build_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale_listing.description %>
</p>

<p>
  <strong>Architecture:</strong>
  <%= @sale_listing.architecture %>
</p>

<p>
  <strong>Three d model:</strong>
  <%= @sale_listing.three_d_model %>
</p>

<p>
  <strong>Three sixty video:</strong>
  <%= @sale_listing.three_sixty_video %>
</p>

<p>
  <strong>Three sixty photo:</strong>
  <%= @sale_listing.three_sixty_photo %>
</p>

<p>
  <strong>Street view:</strong>
  <%= @sale_listing.street_view %>
</p>

<p>
  <strong>Sold cents:</strong>
  <%= @sale_listing.sold_cents %>
</p>

<%= link_to 'Edit', edit_sale_listing_path(@sale_listing) %> |
<%= link_to 'Back', sale_listings_path %>
